<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hjc.reader">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.image.GalleyActivity"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".ui.image.ShowImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.WebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.wan.child.TagListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.film.child.MovieDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.menu.CollectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.menu.JokeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.menu.ScanCodeActivity"
            android:screenOrientation="portrait" />

        <!--7.0文件访问权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>